.body-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 20px;
}

.cep-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 360px;
    margin-bottom: 20px;
}

input {
    height: 20px;
}

.submit-div {
    display: flex;
    flex-direction: column;
    align-items: end;
}

button {
    width: 100px;
    height: 25px;
}